#cart {
  padding-top: 5rem;
}

#container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

#cart ul {
  text-align: left;
}

#cart hr {
  border-color: black;
  border-bottom: 0;
}

#cart table {
  width: 100%;
  margin: auto;
  text-align: center;
}

#cart tr {
  padding: 0;
  margin: 0;
  border: 0;
}

#cart td {
  no-border-top: 1px solid black;
  padding: 5px 2px;
}

#cart .image {
  width: 150px;
}

#cart .image > img {
  width: 100%;
  background: black;
  border-radius: 2px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
  a-border: 1px solid black;
}

#cart .amount {
  width: 50px;
}

#cart .amount > input {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  color: black;
  font-size: 16px;
  background: transparent;
  border: none;
  width: 100%;
  text-align: center;
  outline: none;
}

#cart .remove {
  width: 30px;
}

#cart .remove > button {
  border-radius: 10px;
  width: 25px;
  height: 25px;

  padding: 2px;
  transition: background 0.3s, border 0.3s, transform 0.3s;
  cursor: pointer;
  text-align: center;
  margin: auto;
  border: 1px solid white;
}

#cart .remove.hey > div {
  background: #ed3137;
  border-color: #ed3137;
  transform: scale(1.3);
}

#cart .remove:hover > div {
  background: #ed3137;
  border-color: #ed3137;
}

#cart .big {
  font-size: 2em;
  font-weight: bold;
}
