.backToTop {
  position: fixed;
  margin-top: auto;
  margin-left: auto;
  align-content: flex-end;
  background: #d01d3f;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 9;
}

.backToTop i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .backToTop {
    bottom: 15px;
  }
}
