.homeTab .nav {
  padding: 10px 10px 0;
  justify-content: center;
}

.homeTab a {
  background-color: white !important;
  color: #ed3137 !important;
  font-weight: bold;
}
.homeTab a:hover {
  background-color: rgba(255, 192, 203, 0.8) !important;
}

.homeTab a.active {
  background-color: #ed3137 !important;
  color: white !important;
}

#latest a {
  background-color: unset !important;
}
#latest a.hover {
  background-color: unset !important;
}
#latest .card {
  overflow: hidden;
  padding: 0 0 !important;
  border-radius: 10px !important;
  cursor: pointer;
  transition: 0.7s;
}

#latest .card:hover {
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

#latest .category-img {
  transform: scale(1);
  transition: transform 1s ease;
}

#latest .category-img:hover {
  transform: scale(1.5);
}

#latest .category-heading {
  background-color: #ed3137;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  #latest .category-heading {
    font-size: 0.7rem;
  }
}

#latest .col-6,
#latest .col-md-3,
#latest .col-lg-2 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

#categories .col-6,
#categories .col-md-3,
#categories .col-lg-2 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
