#carousel {
  margin-top: 3.7rem;
  overflow-x: hidden;
}

#carousel .carousel img {
  width: 100vw;
  height: 50vw;
}

#carousel .carousel-item:before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  #carousel {
    margin-top: 3.5rem;
  }

  #carousel .carousel img {
    height: 65vw;
  }
}
