* {
  top: 0;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.App {
  background-color: rgba(243, 243, 243, 0.5);
}

.btn-danger {
  margin-right: 2rem;
  color: #fff !important;
  background-color: #ed3137 !important;
}

.btn-outline-danger:hover {
  background-color: rgb(237, 49, 55, 0.7) !important;
}

@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}

/* Preloader */
.loader {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 90000;
}

.loader.fadeOut {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* overide toastify */
.Toastify__toast {
  border-radius: 7px !important;
}

/* Tables */
